{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="section_home">
        <h1 class="titulo_home">Este es el home</h1>
        <a href="/admin" class="link_button_ingresar"><button class="button_ingresar">Ingresar al Administrador</button></a>
    </section>
</body>
</html> 