.section_home {
  display: block;
  text-align: center;
  margin: 20px; }
  .section_home .link_button_ingresar {
    margin: 30px;
    text-decoration: none; }
    .section_home .link_button_ingresar .button_ingresar {
      color: white;
      background-color: #047248;
      margin: 10px;
      padding: 30px;
      font-size: 20px;
      border-radius: 12px;
      transition: 0.3s;
      border: none; }
      .section_home .link_button_ingresar .button_ingresar:hover {
        background-color: #08a669;
        transform: scale(1.1, 1.1);
        cursor: pointer; }

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }